.login {
  margin: 0;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100dvh);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 48rem;
  /* Different from other form */
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text {
  font-size: 1.2rem;
}

.link,
link:visited {
  font-size: 1.2rem;
  color: var(--color-brand--2);
  font-weight: 600;
  margin-left: 1rem;
  text-decoration: none;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .login {
    padding: 1rem 3rem;
  }
}
