.logo {
  height: 4.5rem;
  max-width: 100%;
}

.position {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 4rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    height: 3.5rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    height: 2.8rem;
    max-width: 100%;
  }
}
