.sidebar {
  position: relative;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
  flex-basis: 56rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.position {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}

.appHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.devider {
  display: none;
  position: absolute;
  bottom: 0;
}

.devider:hover {
  color: var(--color-brand--2);
}

.deviderVertical {
  position: absolute;
  right: 0;
  top: 50dvh;
}

.deviderVertical:hover {
  color: var(--color-brand--2);
}
.doubleLine {
  padding: 0.5rem 0.5rem;
  font-size: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    padding: 1rem 2rem 1rem 1rem;
    flex-basis: auto;
  }

  .footer {
    display: none;
  }

  .devider {
    display: block;
  }
  .deviderVertical {
    display: none;
  }
}
