.user {
  position: absolute;
  top: 4.2rem;
  right: 4.2rem;
  background-color: var(--color-dark--1);
  padding: 1rem 1.4rem;
  border-radius: 7px;
  z-index: 1002;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  border-radius: 100px;
  height: 4rem;
}

.user button {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .user {
    top: 0.8rem;
    right: 0.5rem;
    font-size: 1rem;
  }

  .user img {
    height: 2.5rem;
  }
  .user button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .user {
    top: 0.4rem;
    right: 0rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .user {
    top: 0rem;
    right: 0rem;
    font-size: 0.9rem;
  }
}
